.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-space-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.justify-end {
    justify-content: flex-end;
}
